.basket
    // height: 100px
    // background-color: #999
    margin-bottom: 50px
    font-size: 13px
    margin-top: 20px
.basket-bill
    width: 100%
    font-size: 17px
    padding-top: 3px
.basket-header
    
    padding: 10px 0 5px
.column_1
    width: 60%
.column_2
    width: 20%
.column_3
    width: 20%
.basket-items
    border-bottom: 1px solid $gray
    border-top: 1px solid $gray
    button
        width: 60px
        margin: 0 auto
.basket-item-block
    align-items: center
    padding: 20px 0
    .column_2
        font-weight: 300
.basket-item
    align-items: center
    .product-title
        margin: 0
.basket-item-img
    width: 110px
    img 
        // width: 70%
.basket-item-text
    >div
        margin-bottom: 5px
.basket-delivery
    padding: 20px 0 
    button
        margin: 10px 0 20px 20px
.basket-total
    padding: 20px 0
    >.flex 
        flex-direction: column
        // justify-content: space-between
        span 
            margin-bottom: 20px
.basket-buttons
    padding: 0 20px
    justify-content: space-between
    button
        margin: 0
        width: 158px
    @media(min-width:992px)
        padding: 0