.path
    font-size: 13px
    font-weight: 300
    margin: 0 10px 10px
body 
    .card
        text-align: left
        padding: 10px 0px
        border: none
        @media(min-width:868px)
            padding: 10px 0px
        .card-wrapper
            flex-direction: column
            @media(min-width:768px)
                flex-direction: row
        .card-slider-top-wrapper
            max-width: 800px
            // border: 1px solid $gray
            margin: 0 10px 0 10px
            @media(min-width:768px)
                margin: 0 10px 0 10px
        .card-slaider
            width: 90%
            margin: 0 auto
            mmargin: 0 0px 0 10px
            @media(min-width:768px)
                width: 60%
                margin: 0 10px 0 0px
            @media(min-width:1050px)
                margin: 0 20px 0 0px
                width: 65%
        .card-slide
            // border: 1px solid $gray
            img 
                width: 100%
                transition: 0.3s
                &:hover
                    transform: scale(1.5)
        .card-slider-bottom
            width: 100%
            margin: 10px 20px 0 0
            overflow: hidden
            img 
                width: 100%
                min-width: 70px
                border: 1px solid $gray
            a
                margin-right: 5px
                min-width: 70px
                &:last-child
                    margin-right: 0
            a.active 
                img 
                    border: 1px solid #42b9c0

        .card-info
            width: 92%
            margin: 0 auto
            @media(min-width:768px)
                max-width: 340px
                width: 100%
        .card-info>.flex
            justify-content: space-between
        .product-title
            margin-top: 20px
            text-transform: uppercase
            max-width: 380px
            @media(min-width:768px)
                font-size: 15px
                margin-top: 0px
                margin-bottom: 15px
            @media(min-width:992px)
                font-size: 17px
        a
            text-decoration: none
            color: inherit
            cursor: pointer
            &:hover
                text-decoration: none
                color: inherit
.product-price
    margin: 15px 0
    font-size: 20px
    flex-grow: 2
    @media(min-width:768px)
        flex-grow: 1
.card-info-left
    .form-group
        display: inline-block
        margin-bottom: 10px
    .card-dropdown
        width: 65px
        height: 26px
        border: 1px solid $gray
        position: relative
        &::before
            position: absolute
            content: ""
            width: 4px
            height: 6px
            right: 5px
            top: 50%
            margin-top: -3px
            border-left: 3px solid transparent
            border-right: 3px solid transparent
            border-top: 6px solid #8a999c
    .card-dropdown-menu
        border-radius: 0
        min-width: 100%
        color: $gray
        font-size: 13px
        font-weight: 300
        margin: 0
        li 
            padding: 3px 10px
            &:hover
                background-color: $gray
                color: #fff
    .dropdowns
        margin: 20px 0 20px
        .small-text
            margin-right: 10px
        @media(min-width:768px)
            margin: 0px 0 20px
.delivery-date
    margin: 5px 0 20px

.card-info-right
    flex-direction: column
    justify-content: space-between
    margin-top: -20px
    @media(min-width:768px)
        margin-top: 0px
    .product-like
        margin: 10px 15px 0 0
        @media(min-width:768px)
            flex-grow: 2
        img 
            margin-right: 10px

.card-tabs-wrapper
    text-align: left
.card-tabs
    display: flex
    justify-content:  center
    margin: 10px 0 10px
    text-align: center
    border-bottom: 1px solid #E7EAEB
    border-top: 1px solid #E7EAEB
    @media(min-width:768px)
        margin: 40px 0 10px
    a:hover
        color: inherit
.card-tab
    width: 145px
    text-align: center
    margin-right: 10px
    font-size: 15px
    text-transform: uppercase
    padding: 6px
    cursor: pointer
    &:hover
        background-color: #E7EAEB
.tab-content
    font-size: 13px
    font-weight: 300
    .tab-title
        margin: 20px 0 5px
        font-size: 17px
        font-weight: 400

.card-tab.active
    background-image: none
    background-color: #E7EAEB
.comments
    font-size: 17px
    flex-direction: column
    @media(min-width:992px)
        flex-direction: row
        justify-content: space-between
.comment-left
    width: 95%
    margin: 20px auto 0
    .stars
        margin-top: 10px
        div
            width: 48%
            display: inline-block
            margin-bottom: 10px
            img 
                margin-right: 30px
                margin-bottom: 5px
                &:nth-child(even)
                    margin-right: 10px
    .text-right
        img
            margin-left: 30px
    @media(min-width:768px)
        width: 70%
    @media(min-width:992px)
        width: 48%
        // margin: 0 auto
.comment-right
    width: 95%
    margin: 20px auto
    form 
        >div
            display: inline-block
            width: 48%
            margin-bottom: 10px
            &:nth-child(1)
                margin-right: 10px       
        label 
            font-size: 13px
            margin: 0
        input, textarea
            width: 100%
            margin-bottom: 5px
        textarea
            height: 50px
    .chat
        margin-top: 20px
    input.check
        display: none
    input.check + label:before
        content: "\2713"
        color: transparent
        display: inline-block
        border: 1px solid $gray
        font-size: 20px
        line-height: 7px
        margin: -5px 5px 0 0
        height: 16px
        width: 16px
        text-align: center
        vertical-align: middle
        transition: color ease .3s
        cursor: pointer
    input.check:checked + label:before
        color: #000
    @media(min-width:768px)
        width: 70%
    @media(min-width:992px)
        width: 48%
.comment
    border: 1px solid $gray
    padding: 5px 10px 20px 20px
    width: 90%
    margin-bottom: 10px
    &:nth-child(even)
        margin-left: auto
.comment-header
    justify-content: space-between
    margin-bottom: 10px

