.favorite

    .basket
        margin: 0px auto 30px
        .basket-items
            overflow: auto
        button
            margin: 20px auto
        
    .basket-header, .basket-item-block
        position: relative
    .img_trash
        right: 5px
    .discount_request
        width: 30px
    .price_request
        width: auto
    .col-4, .col-5
        label
            margin: 0 auto
            display: block
.request_status
    width: 25px
    margin: 0 auto
    img 
        width: 100%
