header

	background-color: #2f4050
	// height: 100px
	padding: 20px 20px 0px 
	@media(min-width:768px)
		padding: 5px 20px 10px 0
	@media(min-width:992px)
		padding: 5px 40px 10px 0
.header-logo
	width: 125px
	@media(min-width:768px)
		margin: 0 20px
	@media(min-width:992px)
		width: auto
		margin: 0 30px
	@media(min-width:1200px)
		margin: 0 80px
.header
	width: 100%
	justify-content: space-between
.header-top
	width: 100%
	justify-content: space-between
	align-items: center
	color: #fff
	font-weight: 300
.navigation-mob
	// position: relative
	background-color: #20374a
	color: $gray
	font-size: 19px
	font-weight: 400
	text-align: center
	border-radius: 0
	padding: 20px 10px 10px
	left: -21px!important
	.menu-item
		padding: 10px 25px
	hr 
		margin: 3px auto
		color: #8A999C
		background: linear-gradient(90deg, rgba(47,64,80,1) 0%, rgba(138,153,156,1) 100%)
		height: 1px
		width: 90%
.dropdown-toggle::after
	display: none
.dropdown-menu.show
	display: block!important
.close-menu
	font-size: 40px
	font-weight: 300
	line-height: 0.6
	// color: #fff
	padding: 5px
	cursor: pointer
	transform: rotate(45deg)
	position: absolute
	right: 0px
	top: -3px
.header-item
	cursor: pointer
	@media(min-width:768px)
		font-size: 15px
	@media(min-width:992px)
		font-size: 19px
	@media(min-width:1200px)

	img 
		width: auto
		@media(min-width:768px)
			max-width: 25px
			height: 26px
.header-item-text
	display: inline-block
.search
	border-bottom: 1px solid $gray
	margin: 30px 0 20px
	cursor: pointer
	position: relative
	@media(min-width:768px)
		margin: 20px 0 20px
	form 
		position: relative
	button
		display: none
		position: absolute
		top: 0
		right: 0px
		width: 42px
		height: 26px
		margin: 0
		background: inherit
		border-left: 1px solid $gray


.search-img
	position: absolute
	left: 50%
	// top: -10px
	transform: translate(-50%, -50%)
.search-input
	display: none
	width: 100%
	background-color: inherit
	color: #fff

nav
	// display: none
	position: relative
	margin: 0 20px
	@media(min-width:992px)
		margin: 0 30px
.navigation
	display: none
	// position: absolute
	// flex-direction: column
	@media(min-width:768px)
		display: flex
		// position: static
		// flex-direction: row
		justify-content: space-between

.menu-item
	text-transform: uppercase
	font-size: 19px
	@media(min-width:768px)
		font-size: 17px
	@media(min-width:992px)
		font-size: 19px