.purchases
    font-size: 13px

    .modal_dialog_change
        .half-width
            margin: 20px 0 0
            input
                width: 49%
                height: 20px!important
                padding-left: 3px!important
                margin-bottom: 15px
    .purchase_download
        width: 260px
        padding-bottom: 0
    .accordeon_content
        .basket-total
            margin-left: auto
            padding-bottom: 0
        .basket
            border-bottom: 1px solid $gray
            margin-bottom: 20px
.purchase_data
    .documents
        span 
            text-decoration: underline
            cursor: pointer
        span:hover
            text-decoration: none
    padding: 20px 0
    span 
        margin-bottom: 3px
        display: inline-block

#purchase_return .modal_dialog_change
    width: 420px
    padding: 15px 18px 20px
    .btn_green
        margin: 10px 0 10px auto
#purchase_download
    img
        margin-right: 10px
    .close
        margin: -13px -10px 0px auto
#purchase_upload
    .close
        margin: -13px -10px 0px auto


.uppload_btn
    position: relative

.uppload_btn .filupp > input[type="file"]
    position: absolute
    width: 1px
    height: 1px
    padding: 0
    margin: -1px
    overflow: hidden
    clip: rect(0,0,0,0)
    border: 0
.uppload_btn .filupp
    position: relative
    display: block
    width: 100%
    cursor: pointer
.uppload_btn .my_button
    z-index: -10
    position: absolute
.uppload_btn img
    width: 158px
    margin: 0 auto 
    display: block
.uppload_btn .filupp-file-name
    margin: 5px auto 10px
    display: block
    max-width: 100%
    overflow: hidden
    text-overflow: ellipsis 
    white-space: nowrap
    word-wrap: normal

