$gray: #8A999C
html
	min-width: 640px
	width: 100%
.base_style
	font-family: 'Oswald', sans-serif
	font-size: 17px
	font-weight: 400
	line-height: 1.2
	color: $gray
	h2 
		color: $gray
		font-size: 22px
		font-weight: 400
	p 
		color: $gray
		font-size: 17px
		font-weight: 400
		line-height: 1.3
		text-align: left
	.small-text
		font-size: 13px
		font-weight: 300
.breadcrumbs
	text-align: left
	font-size: 13px
	font-weight: 300
	margin-top: 5px

.my_button
	display: block
	width: 158px
	height: 28px
	border: none
	text-transforn: uppercase
	font-size: 13px
	font-weight: 400
	line-height: 2
	margin: 10px auto
	outline: none!important
	cursor: pointer
	@media(min-width:768px)
		width: 138px
	@media(min-width:868px)
		width: 158px
.btn_green
	background-color: #42b9c0
	color: #ffffff
	&:focus, &:active, &:hover
		background-color: darken(#42b9c0, 10%)
		color: #ffffff
.btn_gray
	color: #8A999C
	background-color: #E7EAEB
	&:focus, &:active, &:hover
		background-color: darken(#E7EAEB, 10%)
		color: inherit
.btn_white
	color: #42b9c0
	border: 1px solid #42b9c0
	background-color: #fff
	&:focus, &:active, &:hover
		color: darken(#42b9c0, 10%)
.btn_gradient
	background-image: linear-gradient(150deg, #ffffff 0%,  #e6e6e6 100%)
	height: 28px
	color: $gray
	border: 1px solid $gray
	font-size: 13px
	font-weight: 400
	width: 158px
	&:focus, &:active, &:hover
		background-image: linear-gradient(150deg, #e6e6e6 0%, #ffffff 100%)
// ul, li 
// 	margin: 0
// 	padding: 0
// 	list-style-type: none

.my_input, .my_textarea
	padding: 0 0 0 7px!important
	font-size: 13px!important
	font-weight: 300!important
	border: 1px solid $gray!important
	border-radius: 0!important
	color: $gray
	outline: none
	&:focus
		box-shadow: none!important
.my_input
	height: 26px
input::-webkit-input-placeholder 
	font-size: 12px
input::-moz-placeholder /* Firefox 18- */
	font-size: 12px
input::-moz-placeholder /* Firefox 19+ */
	font-size: 12px
input::-ms-input-placeholder 
	font-size: 12px
textarea::-webkit-input-placeholder 
	padding-top: 5px
	font-size: 12px
textarea:-moz-placeholder  /* Firefox 18- */
	padding-top: 5px
	font-size: 12px
textarea::-moz-placeholder   /* Firefox 19+ */
	padding-top: 5px
	font-size: 12px
textarea:-ms-input-placeholder   
	padding-top: 5px
	font-size: 12px

.d-n-mob-span
	display: none
	@media(min-width:768px)
		display: inline
.d-n-desc
	@media(min-width:768px)
		display: none!important
.d-n-mob
	display: none
	@media(min-width:768px)
		display: block!important
.flex
	display: flex

.big-text
	font-size: 17px
	font-weight: 400
.d-b
	display: block!important





